@import './../styles/variables.scss';

.exercises {

	user-select: select;

	&--input {
		padding-left: 15px;
		width: 100%;
		height: 70px;
		background-color: darken($blue, 10%);
		font-size: 25px;


	}

}
