@import './../../styles/variables.scss';

.selected-exercises {

	background-color: darken($blue, 10%);

	&--title {
		width: 100%;
		display: inline-block;
		box-shadow: 0 3px 10px 5px darken($blue, 20%);
		padding: 30px;
		text-align: center;
	}

}
