@import './../styles/variables.scss';

:root {
    --exercise-color: #2b4d63;
    --checkbox-size: 30px;
}

.exercise-option {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    padding: 10px 0;
    background: var(--exercise-color);
    display: grid;
    grid-template-columns: 1.5fr calc(1.5 * var(--checkbox-size));
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'name checkbox'
                         'type checkbox';
    border-bottom: 2px solid darken($blue, 10%);

    > * {
        padding: 0 10px;
    }

    h2, h3 {
        color: white;
    }

    input {
        width: var(--checkbox-size);
        height: var(--checkbox-size);
        align-self: center;
        justify-self: start;
        grid-area: checkbox;
    }

    h2 {
        grid-area: name;
    }

    h3 {
        grid-area: type;
    }
}
